# Q1

 In python we can store single quote (') as string 
 by using double quotes (")
 for example:
 m = "â€™"

# Q2

In [2]:
x="a"
print(type(x))

str

we can se x="a" is string type variable and even though you used single quotes, the variable is still considered a string in Python.

# Q3

In [8]:
v='Welcome to Python founat1on course'
v.find("P")

11

In [9]:
v.count("c")

2

In [10]:
len(v)

34

In [12]:
v1=" learn Python programming"
s=v + v1
print(s)

Welcome to Python founat1on course learn Python programming

# Q4

In [2]:
word = "PanaJ1@1225"
l = sum(1 for char in word if char.islower())
u = sum(1 for char in word if char.isupper())
n = sum(1 for char in word if char.isdigit())

# Print the results
print(f"(a) Total number of alphabets in lowercase: {l}")
print(f"(b) Total number of alphabets in uppercase: {u}")
print(f"(c) Total number of numerical characters: {n}")

(a) Total number of alphabets in lowercase: 3
(b) Total number of alphabets in uppercase: 2
(c) Total number of numerical characters: 5

# Q5

In [6]:
a=12345
b=str(a)
print("original numeric values is:",a)
print("new string is:",b)

original numeric values is: 12345
new string is: 12345

In [4]:
type(b)

str